$b: '.s-ourworks';

#{$b} {

  &__title{
    font-family: $font-family-base;
    color: #45852D;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
  }

  &__filters-box {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 6px;
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__filters-title {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    font-weight: 700;
    margin-left: 11px;
  }
  &__filters-input {
    border: 1px solid #D8D8D8;
    border-radius: 25px;
    width: 100%;
    max-width: 418px;
    height: 50px;
    margin-left: 15px;
    padding: 10px 20px 10px 20px;
  }

  &__items-box {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    max-width: 379px;
    border: 1px solid #D8D8D8;
    background-color: #F8F8F8;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: 38px;
    flex-direction: column;
    @include wide-desktop {
      max-width: 360px;
    }
    @include low-desktop {
      max-width: 295px;
    }
    @include tablet {
      max-width: 339px;
    }
    @include mobile {
      max-width: 386px;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &__item-img {
    background-size: cover;
    padding-top: 51.918%;
  }

  &__item-img-label-box {
    display: flex;
    justify-content: flex-end;

  }

  &_label-darkAzure {
    background-color: #076972;
  }

  &_label-orange {
    background-color: #EC6608;
  }

  &_label-othere {
    background-color: #afaba2;
  }

  &__item-img-label {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 700;
    padding: 9px 10px 6px 13px;
  }

  &__item-top-box {
  padding: 22px 10px 0 20px;
  }
  &__item-title {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 700;
  }

  &__item-location {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 6px;
  }

  &__item-price {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  &__item-price-number {
    font-weight: 700;
  }

  &__item-price-number::before {
    content: "£";
  }

  &__item-bottom-box {
    padding: 17px 10px 10px 20px;
  }

  &__item-tags {
    font-family: $font-family-base;
    color: $text-base;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 8px;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__item-top-box {
    flex-grow: 1;
  }

  &__item-bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    margin-top: 43px;
    margin-bottom: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    @include low-desktop {
      margin-bottom: 15px;
    }
    @include tablet {
      padding: 0 10px 0 15px;
    }
    @include mobile {
      padding: 0 15px 0 15px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 60px auto 60px auto;
    color: $text-base;
    background-color:$white-true;
    border: 1px solid #D8D8D8;
    height: 50px;
    line-height: 50px;
    padding: 0 37px;
  }
  &__button:hover {
    background-color: #D8D8D8;
    color: $white-true;
  }
  &__button-icon {
    fill-opacity: 0;
    margin-left: 10px;
    stroke: $text-base;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
  }
  &__button:hover &__button-icon {
    stroke: $white-true;
  }

  .hide {
    visibility: hidden;
    position: absolute;
  }

  .show {
    visibility: visible;
  }
}
