<section id="s-ourworks" class="s-ourworks">
    <div class="s-ourworks__container l-outer-width l-inner-padding">
        <h2 class="s-ourworks__title">Our Latest Developments</h2>
        <div class="s-ourworks__filters-box">
            <p class="s-ourworks__filters-title">Filter</p>
            <form class="s-ourworks__filters-form" action="" method="GET"><input class="s-ourworks__filters-input" type="search"  name="s-ourworks__filters-input" id="s-ourworks__filters-input"></form>
        </div>
        <div class="s-ourworks__items">
            {%  for item in cards %}
                <div class="s-ourworks__item">
                    <a href="/details/{{ item.id }}" class="s-ourworks__item-link">
                        <div class="s-ourworks__item-img" style="background-image: url('https://via.placeholder.com/377x227/45852D/FFFFFF?text={{ item.title }})">
                            <div class="s-ourworks__item-img-label-box">
                                <span class="s-ourworks_label"><p class="s-ourworks__item-img-label">{{ item.type }}</p></span>
                            </div>
                        </div>
                    </a>
                    <div class="s-ourworks__item-top-box">
                        <a href="/details/{{ item.id }}" class="s-ourworks__item-link s-ourworks_item-link-title"><h4 class="s-ourworks__item-title">{{ item.title }}</h4></a>
                        <a href="/details/{{ item.id }}" class="s-ourworks__item-link s-ourworks_item-link-location"><h5 class="s-ourworks__item-location">{{ item.address }}</h5></a>
                    </div>

                    <div class="s-ourworks__item-bottom-box">
                        <div class="s-ourworks__item-comments-box">
                            <a href="/details/{{ item.id }}" class="s-ourworks__item-link s-ourworks_item-link-price"><h5 class="s-ourworks__item-price">New Properties for Sale from <span class="s-ourworks__item-price-number">{{ item.price }}</span></h5></a>
                            <div class="s-ourworks__item-tags-box">
                                <a href="/details/{{ item.id }}" class="s-ourworks__item-link s-ourworks_item-link-tags"><p class="s-ourworks__item-tags">Shared Ownership Available</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
        <button class="s-ourworks__button button">See more <svg class="s-ourworks__button-icon" width="7" height="17" viewBox="0 0 7 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Chevron" d="M1 1L5.043 8.41667L1 15.8333"  stroke-width="2" stroke-linecap="round"/></svg>
        </button>
    </div>
</section>
